button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2px;
  font-size: 1em;
  color: #fff;
  background-color: #34cb7b;
}

button.sign-up {
  text-transform: uppercase;
}

button.sign-up-body {
  padding: 0.5em 0;
  width: calc(25% - 10px);
}
