#sway-video {
  width: 500px;
}

#play-icon {
  position: absolute;
  top: calc(50% - 37.5px);
  left: calc(50% - 37.5px);
  width: 75px;
}

.icon-box {
  position: relative;
  margin-bottom: 1.5em;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  background-color: #3979cb;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
}
