* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f7f8fd;
}

.container {
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.cta-section {
  padding: 8em 0;
  overflow: hidden;
  background-color: #1f2432;
}

#email-capture {
  float: left;
  margin-right: 10px;
  padding-top: 2.5em;
  width: calc(50% - 2%);
}

#video-display {
  position: relative;
  float: right;
  margin-left: 10px;
  width: calc(50% - 2%);
}

.features {
  margin: 8em 0;
}

section {
  float: left;
  padding: 2em;
  margin: 10px 0;
  width: calc(33.33% - 1.6%);
  height: 100%;
  border: 1px solid #e7e8eb;
  box-shadow: 5px 5px 10px #e7e8eb;
  background-color: #fff;
}

section.middle-column {
  margin: 10px 20px;
}

#slack-content {
  position: relative;
  float: left;
  padding-top: 15%;
  height: 540px;
  margin-right: 10px;
  width: calc(50% - 2%);
}

#slack-screenshot {
  position: absolute;
  right: -10px;
  margin-left: 10px;
  width: calc(50% - 2%);
}
